# ── Django ────────────────────────────────────────────────────────────────────
DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=*
FRONTEND_URL=

# ── Cloudinary (imagens) ──────────────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=8-

# ── Email (descomente e preencha para activar envio automático) ───────────────
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=antoniarteacs23@gmail.com
# EMAIL_HOST_PASSWORD=app-password-aqui
# CONTACT_NOTIFY_EMAIL=antoniarteacs23@gmail.com
